{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">Ejercicios</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for ejercicio in ejercicios %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header text-center">
                            <h3 class="card-title">Ejercicios</h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Nombre:</strong> {{ ejercicio.name }}</p>
                            <p><strong>Descripción:</strong> {{ ejercicio.description }}</p>
                            <p><strong>Video:</strong></p>
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/{{ ejercicio.youtubeLink | youtube_embed_id }}" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
