{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">

    <div class="card">

      <h1 class="center">Log In</h1>

      <form name="login_form">

        <label for="correo">Email</label>
        <input type="email" name="correo" class="field" required>

        <label for="contrasena">Password</label>
        <input type="password" name="contrasena" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
      
      </form>
      
    </div>
  
  </div>

{% endblock %}