{% extends "base.html" %}

{% block content %}


<div class="card-wrapper">

  <div class="card">

    <h1 class="center">Membresias existentes</h1>
    <div class="card-body">
      <ul class="list-group">
        <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
          {% for membresia in membresias %}
          <div class="col">
            <li class="list-group-item mb-3">
              <form action="{{ url_for('edit_membresia', membresia_id=membresia.id_membresia) }}" method="POST" >
                <input type="hidden" name="membresia_id" value="{{ membresia._id }}">
                <label>Id de la membresia</label>
                <input type="text" class="form-control mb-3" value="{{membresia.id_membresia}}" name="id_membresia"
                  required>

                <label>Tipo de Membresia</label>
                <input type="text" class="form-control mb-3" value="{{membresia.tipo_membresia}}" name="tipo_membresia"
                  required>

                <label>Descripcion</label>
                <input type="text" class="form-control mb-3" value="{{membresia.descripcion}}" name="descripcion"
                  required>

                <label>Precio</label>
                <input type="text" class="form-control mb-3" value="{{membresia.precio}}" name="precio" required>
                
                <input type="submit" class="btn btn-danger-membresia btn-sm mt-3" value="Editar">
              </form>

              <a href="{{url_for('delete_membresia', membresia_id=membresia._id)}}"
                  class="btn btn-danger-membresia btn-sm mt-3">Eliminar</a>
            </li>
          </div>
          {% endfor %}
        </div>
      </ul>
    </div>

  </div>


  <div class="card">
    <h1 class="center">Agregar Membresias</h1>
    <form name="add_membresia_form" action="{{ url_for('add_membresia') }}" method="POST">
      <label for="id_membresia">id_membresia (solo numeros):</label>
      <input type="text" id="id_membresia" name="id_membresia" required>
      <label for="tipo_membresia">tipo_membresia:</label>
      <input type="text" id="tipo_membresia" name="tipo_membresia" required>
      <label for="descripcion">descripcion:</label>
      <input type="text" id="descripcion" name="descripcion" required>
      <label for="precio">precio:</label>
      <input type="text" id="precio" name="precio" required>
      <input type="submit" value="Agregar Membresia" class="btn">
    </form>
  </div>



</div>


{% endblock %}